/.git
/.github
/.husky
/.vscode
/build
/coverage
/dist-test
/node_modules
/src
/tests
_*.txt
.editorconfig
.eslintrc.cjs
.gitattributes
.gitignore
.prettierignore
*.ignored
*.sh
biome.json
bun.lockb
package-lock.json
prettier.config.cjs
tsconfig.json
vite.config.js
