/.git
/.github
/.husky
/.vscode
/.cache
/build
/coverage
/dist-*
/node_modules
/src
/tests
/scripts
_*.txt
.editorconfig
.eslintrc.cjs
.gitattributes
.gitignore
.prettierignore
*.ignored
*.sh
biome.json
bun.lockb
package-lock.json
prettier.config.cjs
tsconfig.json
vite.config.js
.eslintignore
