/.git
/.github
/.vscode
/build
/coverage
/node_modules
/src
/tests
.editorconfig
.eslintrc.js
.gitattributes
.prettierignore
jest.config.js
package-lock.json
prettier.config.js
SECURITY.md
tsconfig.json
*.sh
_*.txt
*.ignored
rollup.vue?-config.js
